
    <main class="mt-5 pt-3">
      <div class="container-fluid">

        <div class="row">
          <div class="col-md-12 fw-bold fs-3">
            AGENT REGISTRATION
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 mb-3">
            <div class="card text-dark mb-3 h-100">
              <div class="card-header bg-info fw-bold">Agent Form</div>
              <div class="card-body">
                <form (ngSubmit)="SaveAgent()">
    
                  <div class="form-group">
                    <label for="licenseNo">License No <span>*</span></label>
                    <input type="text" class="form-control mt-2" id="licenseNo" name="licenseNo"
                    [(ngModel)]="agentObj.licenseNo" required placeholder="Enter License No">
                  </div>

                  <div class="form-group mt-1">
                    <label for="commissionRate">Commission Rate (%) <span>*</span></label>
                    <input type="text" class="form-control mt-2" id="commissionRate" name="commissionRate"
                    [(ngModel)]="agentObj.commissionRate" required placeholder="Enter Commission Rate">
                  </div>

                  <div class="form-group mt-1">
                    <label for="phone">Phone <span>*</span></label>
                    <input type="text" class="form-control mt-2" id="phone" name="phone"
                    [(ngModel)]="agentObj.phone" required placeholder="Enter Phone">
                  </div>
                  
                  <div class="form-group mt-1">
                      <label for="agentStatus">Agent Status <span>*</span></label>
                      <select class="form-control form-select mt-2" id="agentStatus" name="agentStatus" aria-label="Default select example"
                      (change)="onChangeStatus($event)" required>
                      <option disabled selected>{{isEditAgent === true ? statusValue : "Select Value"}}</option>
                      <option  *ngFor="let status of allStatus" [value]="status.id">{{status.name}}</option>
                      </select>
                  </div>
                  
                      <div class="form-group mt-4" *ngIf="canCreate || (isEditAgent && canUpdate)">
                      <div class="text-end ms-auto">
                        <button class="btn btn-primary"> {{isEditAgent == false ? "submit" : "update"}}</button>
                      </div>
                  </div>

                </form>
              </div>
            </div>
          </div> 
        </div>

        <div class="row">

          <div class="col-lg-12 mb-3">
            <div class="card text-dark  mb-3 h-100">
              <div class="card-header bg-info fw-bold">Agent Table</div>
              <div class="card-body overflow-auto">
                <div class="input-group my-3 ">
                  <input type="text" class="form-control" placeholder="Serach Agent" aria-label="Search" aria-describedby="button-addon2">
                  <button class="btn btn-info" type="button" id="button-addon2"><i class="bi bi-search"></i></button>
                </div>
                <table class="table table-striped table-bordered table-wrapper">
                  <thead>
                    <tr>
                      <th scope="col">Agent Code</th>
                      <th scope="col">License No</th>
                      <th scope="col">Commission Rate</th>
                      <th scope="col">Phone</th>
                      <th scope="col">Agent Status</th>
                      <th scope="col">Modify</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let agentObj of agents">
                      <td>{{agentObj.agentCode || agentObj.id}}</td>
                      <td>{{agentObj.licenseNo}}</td>
                      <td>{{agentObj.commissionRate}}</td>
                      <td>{{agentObj.phone}}</td>
                      <td>{{agentObj.status?.name}}</td>
                      <td class="text-center">
                        <button class="btn btn-warning me-1" *ngIf="canUpdate"
                                (click)="GetAgentById(agentObj.id)"><i class="bi bi-pencil-square"></i></button>
                        <button class="btn btn-danger me-1" *ngIf="canDelete"
                                (click)="DeleteById(agentObj.id)"><i class="bi bi-archive"></i></button>
                      </td>
                        
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div> 

         
        </div>

      </div>
    </main>


